@model IEnumerable<SATTP.DATA.EF.Models.ScheduledClassStatus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SCSName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SCSName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-sm btn-outline-success" asp-route-id="@item.SCSID">Edit</a> 
                <a asp-action="Details" class="btn btn-sm btn-outline-secondary" asp-route-id="@item.SCSID">Details</a> 
                <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-id="@item.SCSID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
